@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Drink Tracking Platform</h1>
<p class="text-center">This application will allow you to keep track of spirits you are enjoying, or have enjoyed in the past, and share your thoughts on them with others.</p>
<p class="text-center">Select a <a href="/Brands" title="Brands">brand</a>, or <a href="/Brands/Create" title="Add Brands">add</a> it if it does not exist yet, and share your thoughts with everyone!</p>

